{{#> default title="Pet Sitter Review"}}

	<!--font-awesome star icon-->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
	<!--Golf's stylesheet-->
	<link rel="stylesheet" href="/stylesheets/review/reviewAndRating.css" />


	<style>
		.checked {
			color: orange;
		}

		.rating {
			display: inline-block;
			position: relative;
			height: 50px;
			line-height: 50px;
			font-size: 50px;
		}

		.rating label {
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			cursor: pointer;
		}

		.rating label:last-child {
			position: static;
		}

		.rating label:nth-child(1) {
			z-index: 5;
		}

		.rating label:nth-child(2) {
			z-index: 4;
		}

		.rating label:nth-child(3) {
			z-index: 3;
		}

		.rating label:nth-child(4) {
			z-index: 2;
		}

		.rating label:nth-child(5) {
			z-index: 1;
		}

		.rating label input {
			position: absolute;
			top: 0;
			left: 0;
			opacity: 0;
		}

		.rating label .icon {
			float: left;
			color: transparent;
		}

		.rating label:last-child .icon {
			color: #000;
		}

		.rating:not(:hover) label input:checked~.icon,
		.rating:hover label:hover input~.icon {
			color: rgb(255, 165, 0);
		}

		.rating label input:focus:not(:checked)~.icon:last-child {
			color: #000;
			text-shadow: 0 0 5px rgb(255, 165, 0);
		}

	</style>
</head>

<body>
	<div class='mb-4 mx-3'>
                <p><a href="/book/my">MY BOOKINGS</a> > <span class='font-weight-bolder'>{{petSitter.fullName}}</span></p>
            </div>


	<div class="container p-4 px-5 shadow mb-3" style="border-radius: 50px;">
		
		<div class="row">
			<div class="col-12">
				<h2 class="mb-5 font-weight-bold text-center">REVIEW YOUR PET SITTER</h2>
			</div>
			
			<div class="col-6">
				<img class="circular--landscape" src="{{petSitter.picUrl}}" style="
							display: block;
							margin-left: auto;
							margin-right: auto;
							margin-bottom:2%;
							width: 5cm;
							height: 5cm;
						" />
			</div>
			<div class="col-6">
				<h3 class="font-weight-bold"5>{{petSitter.fullName}}</h3>
				<h5>Start Date : {{SD}}</h5>
				<h5>End Date : {{ED}}</h5>
			</div>
			
		</div>
		<hr />

		<form action="/ownerReviewForm/{{petSitter.id}}" method="POST" class="validated-form" novalidate>
			<div class="row" style="margin-top: 2%;">
				<!-- fa-5x = size of star icon -->
				<div class="col-3">
					<h4 class="font-weight-bold">Your Rating :</h4>
				</div>
				<div class=" bg-white shadow rounded-pill">
					<div class="rating m-2">
						<label>
							<input type="radio" name="stars" value="1" />
							<span class="icon">  ★  </span>
						</label>
						<label>
							<input type="radio" name="stars" value="2" />
							<span class="icon">  ★  </span>
							<span class="icon">  ★  </span>
						</label>
						<label>
							<input type="radio" name="stars" value="3" />
							<span class="icon">  ★  </span>
							<span class="icon">  ★  </span>
							<span class="icon">  ★  </span>
						</label>
						<label>
							<input type="radio" name="stars" value="4" />
							<span class="icon">  ★  </span>
							<span class="icon">  ★  </span>
							<span class="icon">  ★  </span>
							<span class="icon">  ★  </span>
						</label>
						<label>
							<input type="radio" name="stars" value="5" />
							<span class="icon">  ★  </span>
							<span class="icon">  ★  </span>
							<span class="icon">  ★  </span>
							<span class="icon">  ★  </span>
							<span class="icon">  ★  </span>
						</label>
					</div>
				</div>
			</div>
			<hr />

			<div class="row row-content" style="margin-top: 2%; margin-bottom: 1%;">
				<div class="col-12">
					<h4 class="font-weight-bold" style="padding-bottom:2%">Write Review</h4>
				</div>
				<div class="col-12">
					<input class="form-control rounded-pill" type="text" id="feedback" name="feedback"
						placeholder="write your review here.." required autofocus />
				</div>

				<!-- <div class="col-sm-auto" style="margin-top: 1%;" id="Report">
						<ul class="navbar-nav ml-auto">
							<li>
								<a href="./index.html" style="color: red;">Report Pet Sitter</a>
							</li>
						</ul>
					</div> -->
			</div>

			<div class="row">
				<div class="col-12">
					<button type="submit" class="btn btn-dark rounded-pill">
						SUBMIT
					</button>
				</div>
			</div>
		</form>
		<div class="row mb-5">
			<form action="/sitterReviewForm/Report/{{Booking.id}}" method="POST" class="validated-form" novalidate>
				<div class="col-sm-auto mt-3" id="Report">
					<ul class="navbar-nav ml-auto">
						<li>
							<a href="#">
								<i class="fa fa-exclamation-triangle" aria-hidden="true" style="color: red;"
									data-toggle="modal" data-target="#reportModal">
									REPORT PET OWNER</i>
							</a>
						</li>
					</ul>
					<!-- Modal -->
					<div class="modal fade" id="reportModal" tabindex="-1" aria-labelledby="reportModalLabel"
						aria-hidden="true">
						<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
							<div class="modal-content shadow"  style="border-radius: 30px;">
								<div class="modal-header">
									<h5 class="modal-title" id="exampleModalLabel">Reasons for Reporting</h5>
									<button type="button" class="close" data-dismiss="modal" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
								</div>
								<div class="modal-body">
									<!-- BEGIN FILTER BY CATEGORY -->
									<div class="checkbox">
										<label class="chb-label">
											<input type="checkbox" class="icheck" id="PoorOnService"
												name="PoorOnService">
											Poor on service
										</label>
									</div>
									<div class="checkbox">
										<label class="chb-label">
											<input type="checkbox" class="icheck" id="NotOnTime" name="NotOnTime">
											Not on time
										</label>
									</div>

									<div class="checkbox">
										<label class="chb-label">
											<input type="checkbox" class="icheck" id="Impoliteness" name="Impoliteness">
											Impoliteness
										</label>
									</div>
									<div class="checkbox">
										<label class="chb-label">
											<input type="checkbox" class="icheck" id="Other" name="Other">
											Other
											<input class="form-control rounded-pill" type="text" id="reportDescription"
												name="reportDescription" placeholder="..." required autofocus />
										</label>
									</div>
									<!-- END FILTER BY CATEGORY -->
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-secondary rounded-pill" data-dismiss="modal">Close</button>
									<button type="submit" class="btn btn-dark rounded-pill">Report</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>

	<footer class="footer bg-dark text-white py-2 mt-auto fixed-bottom">
		<div class="container">
			<span class="text-scg">&copy;Untitled 2020</span>
		</div>
	</footer>

{{/default}}