{{#>default title="Support"}}
<div class="vh-100">
    <h1>SUPPORT PAGE</h1>

    <div class="container mt-3" style='max-width:94%'>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body d-flex flex-wrap">

                        <div class="col-12 col-lg-12">
                            <h2 class="px-2">
                                All Report Lists
                            </h2>

                            <div class='d-flex flex-wrap'>
                                {{#each reports}}
                                <div class="card my-1 " name="report" report_id={{id}} style='width:100%'>

                                    <div class="row no-gutters">
                                        <div class="col-12">
                                            <div class="card-body p-3">
                                                <div class="card-title row px-2 pr-3 d-flex">
                                                    <h5 class="col m-0 py-3" style="align-self: center;">Report id:
                                                        {{id}}</h5>
                                                    {{#if (eq status "Requesting")}}
                                                    <p class='col-3 m-0 btn btn-warning btn-md rounded-pill'
                                                        style="align-self: center;">{{status}}</p>
                                                    {{/if}}
                                                    {{#if (eq status "Cleared")}}
                                                    <p class='col-3 m-0 btn btn-success btn-md rounded-pill'
                                                        style="align-self: center;">{{status}}</p>
                                                    {{/if}}
                                                    
                                                </div>
                                                <div class="card-text">
                                                    <div class="d-flex mb-2" style="align-items: center;">
                                                        <b class="px-2 py-2 my-auto">Reporter : {{reporterName}}</b>
                                                        <button onclick="window.location.href='/chat/{{reporter}}'" class='mx-1 btn btn-primary btn-md rounded-pill my-auto'>Chat</button>
                                                        <b class="px-2 py-2 my-auto">Suspect : {{suspectName}}</b>
                                                        <button onclick="window.location.href='/chat/{{suspect}}'" class='mx-1 btn btn-primary btn-md rounded-pill my-auto'>Chat</button>
                                                    </div>
                                                    <div class="d-flex mb-2">
                                                        <p class="px-2 py-2 my-auto">Report Time: {{formatDate createDatetime "DD MMMM
                                                        YYYY"}}</p>
                                                    </div>
                                                    
                                                    {{#if (eq other true)}}
                                                    <div class="d-flex mb-2">
                                                        <p class="px-2 py-2 my-auto">Description: {{description}}</p>
                                                    </div>
                                                    {{/if}}

                                                    <div class="row d-flex mb-2">
                                                        <div class="col d-flex " style="align-self: center;">
                                                            {{#if (eq poorOnService true)}}
                                                            <p class='mx-1 btn btn-danger btn-sm rounded-pill my-auto' style="align-self: center;">Poor Service</p>
                                                            {{/if}}
                                                            {{#if (eq notOnTime true)}}
                                                            <p class='mx-1 btn btn-danger btn-sm rounded-pill my-auto' style="align-self: center;">Not OnTime</p>
                                                            {{/if}}
                                                            {{#if (eq impoliteness true)}}
                                                            <p class='mx-1 btn btn-danger btn-sm rounded-pill my-auto' style="align-self: center;">Impolite</p>
                                                            {{/if}}
                                                        </div>

                                                        <div class="col-3 d-flex m-auto" style="align-self: center;justify-content: center">
                                                            <form action="support/resolveReport/{{id}}" method="POST">
                                                                {{#if (eq status "Cleared")}}
                                                                    <button class='btn btn-secondary my-auto mx-2' disabled name="resolveReport">RESOLVE</button>
                                                                {{/if}}

                                                                {{#if (eq status "Requesting")}}
                                                                    <button class='btn btn-primary my-auto mx-2' name="resolveReport">RESOLVE</button>
                                                                {{/if}}
                                                            </form>
                                                            
                                                            {{!-- <button class='btn btn-danger  my-auto mx-2'
                                                                name="cancelReport">CANCEL</button> --}}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {{!-- <div class="col-4 d-flex align-self-center">
                                            <div class="d-flex flex-column">
                                                <div>
                                                    <button class='btn btn-primary mb-3' id='test'
                                                        ownerID='{{owner.fullName}}'
                                                        name="accept_booking">ACCEPT</button>
                                                </div>
                                                <div>
                                                    <button class='btn btn-danger  mb-3'
                                                        name="deny_booking">DENY</button>
                                                </div>
                                            </div>
                                        </div> --}}
                                    </div>
                                </div>
                                {{/each}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{/default}}
