{{#>default title="Booking"}} 
    <meta name="petSitterId" content={{petSitter.id}}>
    <meta name="petSitterPriceRate" content={{petSitter.priceRate}}>

    {{!-- Date Range Picker --}}
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

    {{!-- dayjs --}}
    <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
    <script src="https://unpkg.com/dayjs@1.8.21/plugin/customParseFormat.js"></script>

    {{!-- css --}}
    <link rel="stylesheet" href="/stylesheets/booking/booking_option.css">
    <link rel='stylesheet' href='/stylesheets/booking/dragAndDrop.css'>

<div class='vh-100'>

<div class="container mt-3" style='max-width:90%'>
    <div class="row">
        {{!-- show path --}}
        <div class="col-12 col-lg-6 book-info-padding">
            <div class='mb-2'>
                <p><a href="/search">SEARCH RESLUTS</a> / <a href="/book/{{petSitter.id}}">{{petSitter.fullName}}</a> / <span class='font-weight-bolder'>BOOKING</span></p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <div class="bd-callout bd-callout-successs shadow-sm" role="alert">
                <i class="fa  fa-check mr-2" aria-hidden="true" style='color:#28a745'></i>
                <span class='font-weight-bolder text-success'> Great choice of property</span> - with an average guest rating of 9.3 from 75 reviews
            </div>
        </div>
        <div class="col-2"></div>
    </div>
    <div class="row">
        <div class="col-2"></div>
        <div class="col-6">
            <div class="card shadow-sm">
                <div class="card-body" >
                    <h2 class="card-head mb-3 font-weight-bolder">
                        BOOKING
                    </h2>
                    <h5 class="card-head">
                        Pet list
                    </h5>
                    <p style='font-size: 0.9em'>List of your pets</p>
                    <div class='dropzone'>
                        {{#each pets}}
						{{!-- <div class='draggable p-0' style='border-radius:50%; width:100px;height:100px' draggable='true' pet-id={{id}}> --}}
                            {{!-- <div class="circular--landscape--review d-flex justify-content-center" style='top:12.5px; left:12.5px'> --}}
                                {{!-- <img class='draggable p-0' src="{{picUrl}}" alt="{{name}}" draggable='true' style=' width:100px;height:100px'> --}}
                            {{!-- </div> --}}
                        {{!-- </div> --}}
                        <p class='draggable font-weight-bolder' draggable='true' pet-id={{id}}>{{name}} ({{capFirstChar type}})</p>
                        {{/each}}
					</div>
                    <div class='d-flex justify-content-center'>
                        <i class="fa fa-arrow-down " aria-hidden="true" style='font-size:27px'></i>
                    </div>
                    <h5 class="card-head">
                        Selected Pet list
                    </h5>
                    <p style='font-size: 0.9em'>This is the list of pets which will be serviced</p>
                    <div class='dropzone dropzonesSeleted' id="selectedPetZone">
                        {{!-- <p class='draggable font-weight-bolder text-white' draggable='true'>bulldog : foke 5 years old</p> --}}
					</div>
                     <h5 class="card-head  mt-4">
                        Select Date
                    </h5>
                    <p style='font-size: 0.9em'>You can select one day of service by double click on that date</p>
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text" style="background-color:white; border:1px solid black;"><i class="fa fa-calendar-check-o" aria-hidden="true"></i></div>
                        </div>
                        <input id="daterangepicker" type="text" value="01/01/2018 - 03/01/2018" />          
                    </div>
                </div>
                <div class="card-footer d-flex justify-content-end">
                    <div class="ml-auto">
                        Total price
                        <p id="priceTag">0</p>
                        $
                    </div>
                </div>
            </div>
            <div class='d-flex justify-content-end mt-4 mb-2'>
                <button class='btn btn-success font-weight-bolder' style='width:120px;height:40px' id="bookBtn">
                    BOOK
                </button>
            </div>
            <div class="tipBannerStyled d-flex ml-auto mb-4">
                <span class='font-weight-bolder px-2'>You won't be charged yet.</span>
                <span class='triangleArrow'></span>
            </div>
        </div>
        <div class="col-2">
            {{!-- <div class="card shadow-sm">
                <div class="card-body">
                    <h2>Pet list</h2>
                    <ul>
                        {{#each pets}}
                            <li pet-id={{id}}>{{type}} : {{name}} {{age}} years old</li>
                            <div class="circular--landscape--review align-self-center">
                                <img src="{{picUrl}}" alt="{{name}}">
                            </div>
                        {{/each}}
                    </ul>
                </div>
            </div> --}}
            <div class="card shadow-sm">
                <div class="card-body pr-1">
                    <h5 class="card-title">{{petSitter.fullName}}</h5>
                </div>
                 <div class="card-body" style='background-color:rgba(0,0,0,.03)'>
                    <p class="card-text">
                        {{#if (gt petSitter.exp.value 0)}}
                        <p><i class="fa fa-clock-o" aria-hidden="true" style='font-size:18px'></i> {{petSitter.exp.value}} {{petSitter.exp.unit}} experience </p>
                        {{else}}
                        <p><i class="fa fa-clock-o" aria-hidden="true" style='font-size:18px'></i> less than a month experience </p>
                        {{/if}}
                        <p><i class="fa fa-usd" aria-hidden="true" style='font-size:18px'></i> {{petSitter.priceRate}} / day / pet</p>
                    </p>
                </div>
                <div class="card-body d-flex flex-column">
                    <div class="circular--landscape--review align-self-center flex-fill">
                        <img src={{petSitter.picUrl}} style='width:75px;height:110px'>
                    </div>
                </div>
                <ul class="list-group list-group-flush">
                    {{#each petSitter.services}}
                    <li class='list-group-item'>
                        <span class="fa fa-star checked mr-2"></span><span style='font-size: 0.9em'>{{capFirstChar this}}</span>
                    </li>
                    {{/each}}
                </ul>
            </div>
        </div>
        <div class="col-2"></div>
    </div>
</div>
    <script src="/javascripts/booking/bookingOptionsHandler.js"></script>
    <script src='/javascripts/booking/dragAndDrop.js'></script>
</div>
{{/default}}