<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="pet-sitter-id" content={{pet_sitter.id}}>
    <title>Booking</title>
    
    {{!-- icon library --}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    {{!-- jQuery --}}
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>

    {{!-- boostrap 4.6 --}}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>

    {{!-- Date Range Picker --}}
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

    {{!-- dayjs --}}
    <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>

    {{!-- css --}}
    <link rel="stylesheet" href="/stylesheets/booking/booking_option.css">
    <link rel='stylesheet' href='/stylesheets/booking/dragAndDrop.css'>

</head>
<body class='vh-100'>
<nav class="navbar navbar-expand-lg navbar-light" style='margin-top:5px;background-color= rgba(255, 165, 0, 0);'>
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler bg-secondary" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
            <ul class="navbar-nav font-weight-bolder">
                <li class="nav-item mr-3">
                    <a class="nav-link text-nav-selfmade" href="/search">HOME</a>
                </li>
                <li class="nav-item mr-3">
                    <a class="nav-link text-nav-selfmade" href="#">MY BOOKINGS</a>
                </li>
                <li class="nav-item mr-3">
                    <a class="nav-link text-nav-selfmade" href="/logout">LOGOUT</a>
                </li>
                <li class="nav-item dropdown mx-3">
                    <div class="d-flex flex-row">
                        <div class='d-flex flex-column mr-2'>
                            <div class='align-self-end' style='font-size: 10px'>pet owner</div>
                            <div style='font-size: 15px'>{{pet_owner.fullName}}</div>
                        </div>
                        <div>
                            <a class="nav-link dropdown-toggle p-0" href="#" 
                            id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" 
                            aria-haspopup="true" aria-expanded="false"
                            >
                                <div class="circular--landscape--nav align-self-center">
                                    <img src='{{pet_owner.picUrl}}'>
                                </div>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="/logout">Logout</a>
                                {{!-- <a class="dropdown-item" href="#"></a>
                                <a class="dropdown-item" href="#"></a> --}}
                            </div>
                        </div>
                    </div>
                </li>
                <li class="nav-item" style='margin-top:5px'>
                    <i class="fa fa-bell" style='font-size:25px' aria-hidden="true"></i>
                </li>
            </ul>
    </div>
</nav>
<div class="container mt-3" style='max-width:90%'>
    <div class="row">
        {{!-- show path --}}
        <div class="col-12 col-lg-6 book-info-padding">
            <div class='mb-2'>
                <p><a href="javascript:history.back()">SEARCH RESLUTS</a> / <a href="javascript:history.back()">{{pet_sitter.fullName}}</a> / <span class='font-weight-bolder'>BOOKING</span></p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <div class="bd-callout bd-callout-successs shadow-sm" role="alert">
                <i class="fa  fa-check mr-2" aria-hidden="true" style='color:#28a745'></i>
                <span class='font-weight-bolder text-success'> Great choice of property</span> - with an average guest rating of 9.3 from 75 reviews
            </div>
        </div>
        <div class="col-2"></div>
    </div>
    <div class="row">
        <div class="col-2"></div>
        <div class="col-6">
            <div class="card shadow-sm">
                <div class="card-body" >
                    <h2 class="card-head mb-3 font-weight-bolder">
                        BOOKING
                    </h2>
                    <h5 class="card-head">
                        Pet list
                    </h5>
                    <p style='font-size: 0.9em'>Drag pet in the list to selected pet list</p>
                    <div class='dropzone'>
                        {{#each pets}}
						{{!-- <div class='draggable p-0' style='border-radius:50%; width:100px;height:100px' draggable='true' pet-id={{id}}> --}}
                            {{!-- <div class="circular--landscape--review d-flex justify-content-center" style='top:12.5px; left:12.5px'> --}}
                                {{!-- <img class='draggable p-0' src="{{picUrl}}" alt="{{name}}" draggable='true' style=' width:100px;height:100px'> --}}
                            {{!-- </div> --}}
                        {{!-- </div> --}}
                        <p class='draggable font-weight-bolder' draggable='true' pet-id={{id}}>{{name}} ({{capFirstChar type}})</p>
                        {{/each}}
					</div>
                    <div class='d-flex justify-content-center'>
                        <i class="fa fa-arrow-down " aria-hidden="true" style='font-size:27px'></i>
                    </div>
                    <h5 class="card-head">
                        Selected Pet list
                    </h5>
                    <p style='font-size: 0.9em'>This is pet that ypu gonna let pet sitter do care</p>
                    <div class='dropzone dropzonesSeleted' id="selectedPetZone">
                        {{!-- <p class='draggable font-weight-bolder text-white' draggable='true'>bulldog : foke 5 years old</p> --}}
					</div>
                     <h5 class="card-head  mt-4">
                        Select Date
                    </h5>
                    <p style='font-size: 0.9em'>You can select one date by double that date</p>
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text" style="background-color:white; border:1px solid black;"><i class="fa fa-calendar-check-o" aria-hidden="true"></i></div>
                        </div>
                        <input id="daterangepicker" type="text" value="01/01/2018 - 03/01/2018" />          
                    </div>
                </div>
                <div class="card-footer d-flex justify-content-end">
                    <div class="ml-auto">
                        Prices : 1000 $
                    </div>
                </div>
            </div>
            <div class='d-flex justify-content-end mt-4 mb-2'>
                <button class='btn btn-success font-weight-bolder' style='width:120px;height:40px' id="bookBtn">
                    BOOK
                </button>
            </div>
            <div class="tipBannerStyled d-flex ml-auto mb-4">
                <span class='font-weight-bolder px-2'>You won't be charged yet.</span>
                <span class='triangleArrow'></span>
            </div>
        </div>
        <div class="col-2">
            {{!-- <div class="card shadow-sm">
                <div class="card-body">
                    <h2>Pet list</h2>
                    <ul>
                        {{#each pets}}
                            <li pet-id={{id}}>{{type}} : {{name}} {{age}} years old</li>
                            <div class="circular--landscape--review align-self-center">
                                <img src="{{picUrl}}" alt="{{name}}">
                            </div>
                        {{/each}}
                    </ul>
                </div>
            </div> --}}
            <div class="card shadow-sm">
                <div class="card-body pr-1">
                    <h5 class="card-title">{{pet_sitter.fullName}}</h5>
                </div>
                 <div class="card-body" style='background-color:rgba(0,0,0,.03)'>
                    <p class="card-text">
                        {{#if (gt pet_sitter.exp.value 0)}}
                        <p><i class="fa fa-clock-o" aria-hidden="true" style='font-size:18px'></i> {{pet_sitter.exp.value}} {{pet_sitter.exp.unit}} experience </p>
                        {{else}}
                        <p><i class="fa fa-clock-o" aria-hidden="true" style='font-size:18px'></i> less than a month experience </p>
                        {{/if}}
                        <p><i class="fa fa-usd" aria-hidden="true" style='font-size:18px'></i> {{pet_sitter.priceRate}}/hr</p>
                    </p>
                </div>
                <div class="card-body d-flex flex-column">
                    <div class="circular--landscape--review align-self-center flex-fill">
                        <img src={{pet_sitter.picUrl}} style='width:75px;height:110px'>
                    </div>
                </div>
                <ul class="list-group list-group-flush">
                    {{#each pet_sitter.services}}
                    <li class='list-group-item'>
                        <span class="fa fa-star checked mr-2"></span><span style='font-size: 0.9em'>{{capFirstChar this}}</span>
                    </li>
                    {{/each}}
                </ul>
            </div>
        </div>
        <div class="col-2"></div>
    </div>
</div>
    <script src="/javascripts/booking/bookingOptionsHandler.js"></script>
    <script src='/javascripts/booking/dragAndDrop.js'></script>
</body>
</html>