{{#> default title="Bookings"}}
<link rel="stylesheet" href="/stylesheets/booking/bookingList.css">
<body class='vh-100'>
    {{!-- <nav class="navbar navbar-expand-lg navbar-light" style='margin-top:5px;background-color= rgba(255, 165, 0, 0);'>
        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler bg-secondary" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
                <ul class="navbar-nav font-weight-bolder">
                    <li class="nav-item mr-3">
                        <a class="nav-link text-nav-selfmade" href="/search">HOME</a>
                    </li>
                    <li class="nav-item mr-3">
                        <a class="nav-link text-nav-selfmade" href="/book/my">MY BOOKINGS</a>
                    </li>
                    <li class="nav-item mr-3">
                        <a class="nav-link text-nav-selfmade" href="/logout">LOGOUT</a>
                    </li>
                    <li class="nav-item dropdown mx-3">
                        <div class="d-flex flex-row">
                            <div class='d-flex flex-column mr-2'>
                                <div class='align-self-end' style='font-size: 10px'>pet owner</div>
                                <div style='font-size: 15px'>{{petOwner.fullName}}</div>
                            </div>
                            <div>
                                <a class="nav-link dropdown-toggle p-0" href="#" 
                                id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" 
                                aria-haspopup="true" aria-expanded="false">
                                    <div class="circular--landscape--nav align-self-center">
                                        <img src='{{petOwner.picUrl}}'>
                                    </div>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <a class="dropdown-item" href="/logout">Logout</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item" style='margin-top:5px'>
                        <i class="fa fa-bell" style='font-size:25px' aria-hidden="true"></i>
                    </li>
                </ul>
        </div>
    </nav> --}}

    <div class="container mt-3" style='max-width:94%'>
        <div class="row">
            <div class="col-12">
                <div class="card bg-transparent border-none">
                    <div class="card-body d-flex flex-wrap">
                        <div class="col-12">
                            <h2 class="page-header">BOOKING HISTORY</h2>
                          
                            {{#if bookingList.length}}
                            <div class='d-flex flex-wrap flex-row-8 flex-col-8 d-none'>
                                {{#each bookingList}}
                                
                                <div class="card my-3 mr-3 rounded-pill shadow-lg" name="booking_parent" style='width:410px'>
                                    <div class="row no-gutters">
                                        <div class="col-10">
                                            <div class="card-body">

                                                <div class="d-flex flex-row">
                                                    <img class="rounded-circle" src="{{sitter.picUrl}}" width="80" height="80">
                                                    <div class="d-flex flex-column ml-2"><span>{{sitter.fullName}}</span>
                                                    <span class="text-black-50">From: {{formatDate startDate "DD MMMM YYYY"}}</span>
                                                    <span class="text-black-50">To: {{formatDate endDate "DD MMMM YYYY"}}</span>
                                                    <span class="text-black-50">Pet Name: {{pet.name}}</span>
                                                    
                                                    <span class="ratings"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></span></div>
                                                </div>
                                            </div>
                                        </div>
                                         
                                        <div class="col-1 d-flex align-self-center">
                                            <div class="d-flex flex-column">
                                                <div>
                                                    {{#if (eq status "Requesting")}}
                                                    <button class='btn btn-danger btn-lg rounded-pill' booking-id={{id}} name="cancelBooking">X</button>
                                                    {{/if}}
                                                </div>
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                                {{/each}}
                            </div>
                            {{else}}
                            <h1>You don't have any booking</h1>
                            {{/if}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
<script src="/javascripts/booking/myBookingOwnerHandler.js"></script>
{{/default}}

