<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="pet_sitter_id" content="{{id}}">

    {{!-- icon library --}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    {{!-- boostrap 4.6 --}}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>

    {{!-- jQuery Ui --}}
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
    
	{{!-- google font --}}
	<style>
		@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

        body {
            font-family: 'Montserrat', sans-serif;
        }

        .dropdown-toggle::after {
            height: 20px;
        }
    
	</style>
	<link rel="stylesheet" href="/stylesheets/booking/booking_info.css">


    <title>Booking</title>
</head>
<body class='vh-100'>

{{!-- line in the middle page --}}
<div class="vl-middle-page"></div>

<nav class="navbar navbar-expand-lg navbar-light" style='margin-top:5px;background-color= rgba(255, 165, 0, 0);'>
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler bg-secondary" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
            <ul class="navbar-nav font-weight-bolder">
                <li class="nav-item mr-3">
                    <a class="nav-link text-nav-selfmade" href="#">HOME</a>
                </li>
                <li class="nav-item mr-3">
                    <a class="nav-link text-nav-selfmade" href="#">MY BOOKINGS</a>
                </li>
                <li class="nav-item dropdown mx-3">
                    <div class="d-flex flex-row">
                        <div class='d-flex flex-column mr-2'>
                            <div class='align-self-end' style='font-size: 10px'>pet owner</div>
                            <div style='font-size: 15px'>{{fname}} {{lname}}</div>
                        </div>
                        <div>
                            <a class="nav-link dropdown-toggle p-0" href="#" 
                            id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" 
                            aria-haspopup="true" aria-expanded="false"
                            >
                                <div class="circular--landscape--nav align-self-center">
                                    <img src='{{picUrl}}'>
                                </div>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="nav-item" style='margin-top:5px'>
                    <i class="fa fa-bell" style='font-size:25px' aria-hidden="true"></i>
                </li>
            </ul>
    </div>
</nav>

<div class="container mt-3" style='max-width:90%'>
    <div class="row">
        {{!-- column left --}}
        
        <div class="col-12 col-lg-6 book-info-padding mb-5">
            {{!-- show path --}}
            <div class='mb-4'>
                <p>SEARCH RESLUTS / <span class='font-weight-bolder'>{{fname}} {{lname}}</span></p>
            </div>
            {{!-- pet sitter infomation --}}
            <div class='container'>
                <div class='row'>
                    {{!-- pet sitter img && ratting --}}
                    <div class="col col-xl-5 d-flex flex-column">
                        <div class="circular--landscape align-self-center">
                            <img src='{{picUrl}}'>
                        </div>
                        <div class='align-self-center mt-3' rating={{rating}}>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class='font-weight-bolder ml-1' style="color: rgb(255, 165, 0);">{{rating}}</span>
                        </div>
                    </div>
                    {{!-- pet sitter description --}}
                    <div class="col col-xl-7 text-align-center">
                        {{#if fname}}
                            <h1 class='text-lg-center'>{{fname}} {{lname}}</h1>
                            <p class='text-lg-center'>Dedicated pet sitter in the</h1>
                        {{else}}
                            <h1 class='text-lg-center'>Not found</h1>
                        {{/if}}
                    </div>
                </div>
            </div>
            {{!-- pet sitter year experince && price rate --}}
            <div class='d-flex align-items-center bg-gray-info justify-content-center mt-3 mb-4'>
                <div class='ml-4 mr-2'>
                    <i class="fa fa-clock-o" aria-hidden="true"></i>
                </div>
                <div class='mr-4'>
                    {{#if (gt exp.value 0)}}
                    <span>{{exp.value}} {{exp.unit}} experince</span>
                    {{else}}
                    <span>less than a month experince</span>
                    {{/if}}
                </div>
                <div class='mr-2'>
                    <i class="fa fa-usd" aria-hidden="true"></i>
                </div>
                <div class='mr-4'>   
                    <span>{{priceRate}}/hr</span>
                </div>
            </div>
            <h3>Pet care experince</h3>
            <div class="d-flex flex-wrap my-4">
                <div class="mr-3 mb-3 py-2 px-3 bg-experince"><span class="fa fa-star checked mr-2"></span>Dog</div>
                <div class="mr-3 mb-3 py-2 px-3 bg-experince"><span class="fa fa-star checked mr-2"></span>Cat</div>
                <div class="mr-3 mb-3 py-2 px-3 bg-experince"><span class="fa fa-star checked mr-2"></span>Cow</div>
                <div class="mr-3 mb-3 py-2 px-3 bg-experince"><span class="fa fa-star checked mr-2"></span>Human baby</div>
                <div class="mr-3 mb-3 py-2 px-3 bg-experince"><span class="fa fa-star checked mr-2"></span>Bird</div>
                <div class="mr-3 mb-3 py-2 px-3 bg-experince"><span class="fa fa-star checked mr-2"></span>Fish</div>
            </div>
            <div class='mb-2'>
                <button type="button" class="btn btn-light btn-outline-dark py-2" style="width:100%">
                    <span class='font-weight-bolder'>SEND A MESSAGE</span>
                </button>
            </div>
            <div class='mb-4'>
                <button type="button" class="btn btn-dark py-2" style="width:100%;">
                    <span class='font-weight-bolder'>BOOK A SERVICE</span>
                </button>
            </div>
        </div>
        {{!-- column right --}}
        <div class="col-12 col-lg-6 book-info-padding mt-5">
            <div class="warapper-scrollable">
                <h3 class='mb-4'>About Me</h3>
                <p>{{description}}</p>
                <div class="hl my-4"></div>
                <h3>Services</h3>
                <div class='d-flex my-4'>
                    {{#each services}}
                    <div class='flex-fill'>
                        <span class="fa fa-star checked mr-2"></span>{{capFirstChar this}}
                    </div>
                    {{/each}}
                </div>
                <h6 class='font-weight-bolder'>Responsibility include:</h6>
                <div class='d-flex my-4'>
                    <div class='flex-fill'>
                        <span class="fa fa-moon-o mr-2"></span>Overnight care
                    </div>
                </div>
                <div class='mt-5'>
                    <div class='d-flex flex-row font-weight-bolder justify-content-between'>
                        <div>Reviews({{reviews.length}})</div>
                        {{#if reviews.length}}
                        <div>More Reviews ></div>
                        {{/if}}
                    </div>
                    <div class="hl my-4"></div>
    {{!-- add reviews --}}
                    {{#each reviews}}
                    <div>
                        <div class=" d-flex flex-row">
                            <div class='flex-fill'>
                                <div class="circular--landscape--review align-self-center">
                                    <img src='{{owner.picUrl}}' style='width:75px;height:110px'>
                                </div>
                            </div>
                            <div class='flex-fill ml-3'>
                                <p class='mb-0'>{{owner.fullName}}</p>
                                <div class='my-1 mb-4' rating={{rating}}>
                                </div>
                                <p>{{description}}</p>
                            </div>
                        </div>
                        
                        <div class="hl my-3"></div>
                    </div>
                    {{/each}}
                    <div>
                        <div class=" d-flex flex-row">
                            <div class='flex-fill'>
                                <div class="circular--landscape--review align-self-center">
                                    <img src='https://images.unsplash.com/photo-1613053341085-db794820ce43?ixid=MXwxMjA3
                                    fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80'
                                    style='width:75px;height:110px'>
                                </div>
                            </div>
                            <div class='flex-fill ml-3'>
                                <p class='mb-0'>COLIN BREKKE</p>
                                <div class='my-1 mb-4'>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                </div>
                                <p>
                                    The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those 
                                    interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero 
                                    are also reproduced in their exact original form, accompanied by English versions from the
                                        1914 translation by H. Rackham.
                                </p>
                                <p class='mt-4 text-muted'>
                                    Brooklyn, NY, US 27 sep - 30 sep 2019
                                </p>
                            </div>
                        </div>
                        
                        <div class="hl my-3"></div>
                    </div>
                    <div>
                        <div class=" d-flex flex-row">
                            <div class='flex-fill'>
                                <div class="circular--landscape--review align-self-center">
                                    <img src='https://images.unsplash.com/photo-1613053341085-db794820ce43?ixid=MXwxMjA3
                                    fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80'
                                    style='width:75px;height:110px'>
                                </div>
                            </div>
                            <div class='flex-fill ml-3'>
                                <p class='mb-0'>COLIN BREKKE</p>
                                <div class='my-1 mb-4'>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                </div>
                                <p>
                                    The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those 
                                    interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero 
                                    are also reproduced in their exact original form, accompanied by English versions from the
                                        1914 translation by H. Rackham.
                                </p>
                                <p class='mt-4 text-muted'>
                                    Brooklyn, NY, US 27 sep - 30 sep 2019
                                </p>
                            </div>
                        </div>
                        
                        <div class="hl my-3"></div>
                    </div>
                    <div>
                        <div class=" d-flex flex-row">
                            <div class='flex-fill'>
                                <div class="circular--landscape--review align-self-center">
                                    <img src='https://images.unsplash.com/photo-1613053341085-db794820ce43?ixid=MXwxMjA3
                                    fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80'
                                    style='width:75px;height:110px'>
                                </div>
                            </div>
                            <div class='flex-fill ml-3'>
                                <p class='mb-0'>COLIN BREKKE</p>
                                <div class='my-1 mb-4'>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                </div>
                                <p>
                                    The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those 
                                    interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero 
                                    are also reproduced in their exact original form, accompanied by English versions from the
                                        1914 translation by H. Rackham.
                                </p>
                                <p class='mt-4 text-muted'>
                                    Brooklyn, NY, US 27 sep - 30 sep 2019
                                </p>
                            </div>
                        </div>
                        
                        <div class="hl my-3"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/javascripts/booking/starsHandler.js"></script>
</body>
</html>