{{#> default title="Bookings"}}
    {{!-- dayjs --}}
    <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
    <script src="https://unpkg.com/dayjs@1.8.21/plugin/customParseFormat.js"></script>

    <link href='/javascripts/booking/fullCalendar/lib/main.css' rel='stylesheet' />
    <script src='/javascripts/booking/fullCalendar/lib/main.js'></script>


    <link rel="stylesheet" href="/stylesheets/booking/booking_info.css">
    <script>

        document.addEventListener('DOMContentLoaded', function() {
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'dayGridMonth',
                dayMaxEvents: true,
                themeSystem: 'sketchy',
                {{!-- eventColor: '#378006' --}}
        });
        calendar.render();


        /*document.getElementById("test").addEventListener("click", function() {
            let ownerID = document.getElementById("test").getAttribute("ownerID")
            let parent = $(this).parent()
            let startDate = parent.find("meta[name='startDate'").attr('content')
            let endDate = parent.find("meta[name='endDate'").attr('content')
            let new_endDate = dayjs(endDate, "YYYY-MM-DD").add(1, 'day').format("YYYY-MM-DD")
            calendar.addEvent({
                title: ownerID,
                start: startDate,
                end: new_endDate,
                allDay: true
            })
        });*/
    });



    </script>
    <div class="container mt-4" style='width:100%'>
        <div class="row">
            <div class="col-12">
                <div class="card shadow" style="border-radius: 50px;">
                    <div class="card-body d-flex flex-wrap">
                        <div class="col-12 col-lg-5">
                            <div id='calendar'></div>
                        </div>
                        <div class="col-12 col-lg-7 pr-0">
                            <h2>
                                    Incoming Booking
                            </h2>
                            <div class='d-flex flex-wrap'>
                                {{#each bookingList}}
                                <div class="card my-3 mr-3" name="booking_request" booking_id={{id}} style='width:370px'>
                                    
                                    <div class="row no-gutters">
                                        <div class="col-8">
                                            <div class="card-body">
                                                <div class="card-title">
                                                    <p>By owner: {{owner.fullName}}</p>
                                                    <p>Pet Name: {{pet.name}}</p>
                                                </div>
                                                <div class="card-text">
                                                    <p>From: {{formatDate startDate "DD MMMM YYYY"}}</p>
                                                    <p>To: {{formatDate endDate "DD MMMM YYYY"}}</p>
                                                </div>
                                                <div class="card-text">
                                                    <p>Status: {{status}}</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-4 d-flex align-self-center">
                                            <div class="d-flex flex-column">
                                                {{#if (eq status "Requesting")}}
                                                    <div>
                                                        <meta name='startDate' content={{formatDate startDate "YYYY-MM-DD"}}>
                                                        <meta name='endDate' content={{formatDate endDate "YYYY-MM-DD"}}>
                                                        <button class='btn btn-primary mb-3' id='test' ownerID='{{owner.fullName}}' name="accept_booking">ACCEPT</button>
                                                    </div>
                                                    <div>
                                                        <button class='btn btn-danger mb-3' name="deny_booking">DENY</button>
                                                    </div>
                                                {{/if}}
                                                {{#if (isFinished status endDate)}}
                                                    <div>
                                                        <button class='btn btn-danger mb-3 finish-btn' ownerId = '{{owner.id}}'>Finish</button>
                                                    </div>
                                                {{/if}}
                                                {{#if (eq status "Finished")}}
                                                    <div>
                                                        <a class='btn btn-danger mb-3' href="/sitterReviewForm/{{id}}">Review</a>
                                                    </div>
                                                {{/if}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {{/each}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        dayjs.extend(window.dayjs_plugin_customParseFormat)

        const ACTION = {
            ACCEPT: "ACCEPT",
            DENY: "DENY"
        }
        if ($('.finish-btn').length){
            $('.finish-btn').on('click', function() {
            const div_parent = $(this).closest("div[name='booking_request']")
            const bid = div_parent.attr("booking_id")
            $.ajax({
            url: "/book/finish",
            method: "POST",
            data: {
                booking_id: bid,
            }
            }).done(function(data){
                if(data.status) window.location = '/'
                
            }).fail(function(data){
                alert(data.responseJSON.message)
            })
        })
        }
        if($("button[name='accept_booking']").length) $("button[name='accept_booking']").on('click', function(){ takeAction(ACTION.ACCEPT, this) })
        if ($("button[name='deny_booking']").length) $("button[name='deny_booking']").on('click', function(){ takeAction(ACTION.DENY, this) })
        function takeAction(action, btn){
            const div_parent = $(btn).closest("div[name='booking_request']")
            const bid = div_parent.attr("booking_id")
            $.ajax({
                url: "/book",
                method: "PATCH",
                data: {
                    booking_id: bid,
                    action: action
                }
            }).done(function(data){
                if(data.status) div_parent.fadeOut()
            }).fail(function(data){
                alert(data.responseJSON.message)
            })
        }
            
    </script>
{{/default}}
