<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="petSitterId" content={{petSitter.id}}>

    {{!-- jQuery --}}
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>

    {{!-- icon library --}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    {{!-- boostrap 4.6 --}}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    {{!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script> --}}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>

    {{!-- jQuery Ui --}}
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
    
	{{!-- google font --}}
	<style>
		@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

        body {
            font-family: 'Montserrat', sans-serif;
        }

        .dropdown-toggle::after {
            height: 20px;
        }
    
	</style>
	<link rel="stylesheet" href="/stylesheets/booking/booking_info.css">


    <title>Booking</title>
</head>
<body class='vh-100'>

{{!-- line in the middle page --}}
<div class="vl-middle-page"></div>
{{> navbar}}

<div class="container mt-3" style='max-width:90%'>
    <div class="row">
        {{!-- column left --}}
        
        <div class="col-12 col-lg-6 book-info-padding mb-5">
            {{!-- show path --}}
            <div class='mb-4'>
                <p><a href="/search">SEARCH RESULTS</a> / <span class='font-weight-bolder'>{{petSitter.fullName}}</span></p>
            </div>
            {{!-- pet sitter infomation --}}
            <div class='container'>
                <div class='row'>
                    {{!-- pet sitter img && ratting --}}
                    <div class="col col-xl-5 d-flex flex-column">
                        <div class="circular--landscape align-self-center">
                            <img src='{{petSitter.picUrl}}'>
                        </div>
                        <div class='align-self-center mt-3' rating={{petSitter.rating}}>
                            <span class="fa fa-star" style="color: white;"></span>
                            <span class="fa fa-star" style="color: white;"></span>
                            <span class="fa fa-star" style="color: white;"></span>
                            <span class="fa fa-star" style="color: white;"></span>
                            <span class="fa fa-star" style="color: white;"></span>
                            <span class='font-weight-bolder ml-1' style="color: rgb(255, 165, 0);">{{rating}}</span>
                        </div>
                    </div>
                    {{!-- pet sitter description --}}
                    <div class="col col-xl-7 text-align-center">
                        {{#if petSitter.fname}}
                            <h1 class='text-lg-center'>{{petSitter.fullName}}</h1>
                            <p class='text-lg-center'>Dedicated pet sitter in the {{petSitter.location}}</h1>
                        {{else}}
                            <h1 class='text-lg-center'>Not found</h1>
                        {{/if}}
                    </div>
                </div>
            </div>
            {{!-- pet sitter year experince && price rate --}}
            <div class='d-flex align-items-center bg-gray-info justify-content-center mt-3 mb-4'>
                <div class='ml-4 mr-2'>
                    <i class="fa fa-clock-o" aria-hidden="true"></i>
                </div>
                <div class='mr-4'>
                    {{#if (gt petSitter.exp.value 0)}}
                    <span>{{petSitter.exp.value}} {{petSitter.exp.unit}} experience</span>
                    {{else}}
                    <span>less than a month experience</span>
                    {{/if}}
                </div>
                <div class='mr-2'>
                    <i class="fa fa-usd" aria-hidden="true"></i>
                </div>
                <div class='mr-4'>   
                    <span>{{petSitter.priceRate}} / day / pet</span>
                </div>
            </div>
            <h3>Pet care experince</h3>
            <div class="d-flex flex-wrap my-4">
                <div class="mr-3 mb-3 py-2 px-3 bg-experince"><span class="fa fa-star checked mr-2"></span>Dog</div>
                <div class="mr-3 mb-3 py-2 px-3 bg-experince"><span class="fa fa-star checked mr-2"></span>Cat</div>
                <div class="mr-3 mb-3 py-2 px-3 bg-experince"><span class="fa fa-star checked mr-2"></span>Cow</div>
                <div class="mr-3 mb-3 py-2 px-3 bg-experince"><span class="fa fa-star checked mr-2"></span>Human baby</div>
                <div class="mr-3 mb-3 py-2 px-3 bg-experince"><span class="fa fa-star checked mr-2"></span>Bird</div>
                <div class="mr-3 mb-3 py-2 px-3 bg-experince"><span class="fa fa-star checked mr-2"></span>Fish</div>
            </div>
            <div class='mb-2' id="sendAMessageDiv">
                <button type="button" class="btn btn-light btn-outline-dark py-2" style="width:100%">
                    <span class='font-weight-bolder'>SEND A MESSAGE</span>
                </button>
            </div>
            <div class='mb-4' id="bookAServiceDiv">
                <button type="button" class="btn btn-dark py-2" style="width:100%;">
                    <span class='font-weight-bolder'>BOOK A SERVICE</span>
                </button>
            </div>
        </div>
        {{!-- column right --}}
        <div class="col-12 col-lg-6 book-info-padding mt-5">
            <div class="warapper-scrollable">
                <h3 class='mb-4'>About Me</h3>
                <p>{{petSitter.description}}</p>
                <div class="hl my-4"></div>
                <h3>Services</h3>
                <div class='d-flex flex-wrap justify-content-between my-4'>
                    {{#each petSitter.services}}
                    <div class='mr-3 mb-3'>
                        <span class="fa fa-star checked mr-2"></span>{{capFirstChar this}}
                    </div>
                    {{/each}}
                </div>
                <h6 class='font-weight-bolder'>Responsibility include:</h6>
                <div class='d-flex my-4'>
                    <div class='flex-fill'>
                        <span class="fa fa-moon-o mr-2"></span>Overnight care
                    </div>
                </div>
                <div class='mt-5'>
                    <div class='d-flex flex-row font-weight-bolder justify-content-between'>
                        <div>Reviews({{petSitter.reviews.length}})</div>
                        {{#if petSitter.reviews.length}}
                        <div><a name="more_reviews" href="/sitterReviews/{{petSitter.id}}">More Reviews</a> ></div>
                        {{/if}}
                    </div>
                    <div class="hl my-4"></div>
    {{!-- add reviews --}}
                    {{#each petSitter.reviews}}
                    <div>
                        <div class=" d-flex flex-row">
                            <div class='flex'>
                                <div class="circular--landscape--review align-self-center">
                                    {{#ifNotEquals owner.picUrl null}}
                                        <img src='{{owner.picUrl}}' style='width:75px;height:110px'>
                                    {{else}}
                                        <img src='/image/default_img_profile.png' style='width:75px;height:110px'>
                                    {{/ifNotEquals}}
                                </div>
                            </div>
                            <div class='flex-fill ml-3'>
                                <p class='mb-0'>{{owner.fullName}}</p>
                                <div class='my-1 mb-4' rating={{rating}}>
                                </div>
                                <p>{{description}}</p>
                            </div>
                        </div>
                        
                        <div class="hl my-3"></div>
                    </div>
                    {{/each}}
                    
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(() => {
        // event listenings
        $("#bookAServiceDiv").on('click', function(){
            window.location += "/options"
        })

        $("#sendAMessageDiv").on('click', function(){
            let petSitterId = $("meta[name='petSitterId']").attr('content')
            window.location = `/chat/${petSitterId}`
        })
    })
</script>
<script src="/javascripts/booking/starsHandler.js"></script>
</body>
</html>