{{#> default title="Bookings"}}
{{!-- dayjs --}}
<script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
<script src="https://unpkg.com/dayjs@1.8.21/plugin/customParseFormat.js"></script>

<link href='/javascripts/booking/fullCalendar/lib/main.css' rel='stylesheet' />
<script src='/javascripts/booking/fullCalendar/lib/main.js'></script>


<link rel="stylesheet" href="/stylesheets/booking/bookingList.css">
<script>

    document.addEventListener('DOMContentLoaded', function () {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'dayGridMonth',
            dayMaxEvents: true,
            themeSystem: 'sketchy',
                {{!-- eventColor: '#378006' --}}
        });
    calendar.render();


    document.getElementById("test")?.addEventListener("click", function () {
        let ownerID = document.getElementById("test").getAttribute("ownerID")
        let parent = $(this).parent()
        let startDate = parent.find("meta[name='startDate']").attr('content')
        let endDate = parent.find("meta[name='endDate']").attr('content')
        let new_endDate = dayjs(endDate, "YYYY-MM-DD").add(1, 'day').format("YYYY-MM-DD")
        calendar.addEvent({
            title: ownerID,
            start: startDate,
            end: new_endDate,
            allDay: true
        })
    });
    });



</script>
<div class="container mt-4" style='width:100%'>
    <div class="row">
        <div class="col-12 bg-glassy " style="border-radius: 50px;">
            <div class="col">
                <div class="card-body d-flex flex-wrap d-none">
                    <div class="col-8">
                        <div id='calendar'></div>
                    </div>

                    <h2 class="text-white font-weight-bold">
                        INCOMING BOOKING
                    </h2>
                    <div class='d-flex justify-content-center flex-wrap flex-row-8 flex-col-8 d-none'>
                        {{#each bookingList}}

                        <div class="card my-3 mr-3 shadow" name="booking_request" booking_id={{id}}
                            style="border-radius: 50px;">
                            <div class="card-body">
                                <div class="wow d-flex">

                                    <div class="d-flex flex-column mx-4" style='max-width:160px'>



                                        <div class="info card-title">
                                            <p>Pet owner: {{owner.fullName}}</p>
                                            <p>Pet Name: {{pet.name}}</p>
                                            <p>From: {{formatDate startDate "DD MMMM YYYY"}}</p>
                                            <p>To: {{formatDate endDate "DD MMMM YYYY"}}</p>
                                            {{!-- <h6><strong>Status: {{status}}</strong></h6> --}}
                                            <div class="align-self-center mb-3"><img src="/image/{{status}}.png"></div>
                                        </div>

                                        <div class="d-flex align-self-center flex-column">
                                            {{#if (eq status "Requesting")}}

                                            <meta name='startDate' content={{formatDate startDate "YYYY-MM-DD" }}>
                                            <meta name='endDate' content={{formatDate endDate "YYYY-MM-DD" }}>
                                            <button class='btn align-self-center btn-primary mb-3 rounded-pill'
                                                id='test' ownerID='{{owner.fullName}}'
                                                name="accept_booking">ACCEPT</button>

                                            <button class='btn align-self-center btn-danger mb-3 rounded-pill'
                                                name="deny_booking">DENY</button>

                                            {{/if}}
                                            {{#if (isFinished status endDate)}}
                                            <div>
                                                <button
                                                    class='btn align-self-center btn-dark mb-3 finish-btn rounded-pill '
                                                    ownerId='{{owner.id}}'>Finish</button>
                                            </div>
                                            {{/if}}
                                            {{#if (eq status "Finished")}}
                                            <div>
                                                <a class='btn align-self-center btn-warning mb-3 rounded-pill'
                                                    href="/sitterReviewForm/{{id}}">Review</a>
                                            </div>
                                            {{/if}}
                                        </div>




                                    </div>

                                </div>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<script>
    dayjs.extend(window.dayjs_plugin_customParseFormat)

    const ACTION = {
        ACCEPT: "ACCEPT",
        DENY: "DENY"
    }
    if ($('.finish-btn').length) {
        $('.finish-btn').on('click', function () {
            const div_parent = $(this).closest("div[name='booking_request']")
            const bid = div_parent.attr("booking_id")
            $.ajax({
                url: "/book/finish",
                method: "POST",
                data: {
                    booking_id: bid,
                }
            }).done(function (data) {
                if (data.status) window.location = '/'

            }).fail(function (data) {
                alert(data.responseJSON.message)
            })
        })
    }
    if ($("button[name='accept_booking']").length) $("button[name='accept_booking']").on('click', function () { takeAction(ACTION.ACCEPT, this) })
    if ($("button[name='deny_booking']").length) $("button[name='deny_booking']").on('click', function () { takeAction(ACTION.DENY, this) })
    function takeAction(action, btn) {
        const div_parent = $(btn).closest("div[name='booking_request']")
        const bid = div_parent.attr("booking_id")
        $.ajax({
            url: "/book",
            method: "PATCH",
            data: {
                booking_id: bid,
                action: action
            }
        }).done(function (data) {
            if (data.status) div_parent.fadeOut()
        }).fail(function (data) {
            alert(data.responseJSON.message)
        })
    }

</script>
{{/default}}